﻿@model IEnumerable<WebApplication.Domain.DatabaseModels.Product>
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<i class="fas fa-hands"></i>

<br />

<table class="table">
	<tr>
		<th>
			#
		</th>
		<th>
			Car Name
		</th>
		<th>
			Category Name
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<th>
				@item.Id
			</th>
			<th>
				@item.Name
			</th>
			<th>
				@item.ProductCategory_Navigation.Name
			</th>
		</tr>
	}
</table>
